---
import Layout from '../layouts/Layout.astro';
import {TypeAnimation} from "react-type-animation"
import Timeline from '../components/Timeline'
import {UserFocus, GraduationCap, TerminalWindow, GithubLogo} from "@phosphor-icons/react"
import {Fade, Slide} from "react-awesome-reveal"
---

<Layout title="Another curly crazy dev">
	<main class="text-white p-20">
		<section class="text-3xl mt-8 p-20 pb-40">
			<Fade duration={1000} triggerOnce client:load>
				<h1 class="text-8xl mt-8 font-unisonBold">Hi,</h1> 
				<h1 class="text-7xl font-unisonBold mb-7">I am <span class="bg-gradient-to-r from-pink-800 to-yellow-500 bg-clip-text text-transparent">Taiel!</span></h1>
				<TypeAnimation sequence={["FullStack Developer",1000,"Freelancer",1000,"Videogame enjoyer",1000,"Student",1000]} wrapper="span" repeat={3} style={{display:'inline-block',fontFamily:'Unison Pro Bold Italic',color:'white',}} client:load/>
				<p class="mt-10 text-2xl mb-10">I am Filipelli, a young trainee from Argentina <img src="/Flag_of_Argentina.png" alt="Argentina Flag" class="inline w-10 h-6"/> who loves technology, 
				videogames and football!<br>I started slowly but steady inserting myself into tech-world on 2020 and, since that moment, <br> i never stopped learning. I'm always pushing 
				myself forward, i also can easily adapt<br> myself to any kind of work group and i always look forward to be better on every aspect!</p>
				<a class="font-unisonIthalic text-lg hover:underline hover:text-slate-400 transition-all" href="https://github.com/TaiFilipelli?tab=repositories" target="_blank">See my work! <GithubLogo size={30}/></a>
			</Fade>
		</section>
		<section class="mt-14 pb-14" id="about" >
			<Slide direction="left" duration={1000} triggerOnce client:load>
				<h1 class="text-5xl font-unisonBoldIthalic mb-11">About <span class="bg-gradient-to-r from-pink-800 to-yellow-500 bg-clip-text text-transparent">Me</span></h1>
			</Slide>
			<Fade className="about-container" delay={400} duration={1000} triggerOnce cascade client:load>
				<div>
					<div class='flex justify-between'>
					  <h1 class='font-unisonBold text-3xl mb-6 max-[410px]:text-2xl'>Personal</h1>
					  <UserFocus size={40}/> 
					</div>
					<p class='text-xl pb-4'>I was born on February 2004, on San Nicolas de los Arroyos, Argentina. My programming and computing interest started in the 2020 pandemic, where thanks to multiple online courses
					(and while i was still in high school) i started to learn and practice thanks to online content. In just one month, i learned about computers, their structure and functioning and
					algorythmics and programming principles. In 2022, about 4 months after my graduation, i started in the Facultad Regional San Nicolas, on the University Degree on Programming. Since July 2024, my studies on the 
					university are oficially finished! The only thing left is to work on my final project to finally get my title!</p>
					<hr/>
				</div>
				<div>
					<div class='flex justify-between my-6'>
					  <h1 class='font-unisonBold text-3xl max-[410px]:text-2xl'>Education</h1>
					  <GraduationCap size={35}/> 
					</div>
					<p class='text-xl pb-4'>I studied on the Club Belgrano High School (2016-2021). The degree followed right next to it, since 2022 to 2024. Even tho, most of my knowledges are 
					from extracurricular courses that i acquired thanks to online content and study constancy. Even today, i still learning new technologies and new ways to do stuff. Some of my current courses are unrelated to
					web design: OpenCV on Python an facial recognition, Machine Learning algorythms and ethical hacking to improve my cybersecurity knowledge.</p>
					<hr/>
				</div>
				<div>
					<div class='flex justify-between my-6'>
					  <h1 class='font-unisonBold text-3xl max-[410px]:text-2xl'>Atributtes</h1>
					  <TerminalWindow size={35}/> 
					</div>
					<p class='text-xl pb-4'>I am a very active person, that likes team work and have a great social ease. I am always aware to details and things so i can 
					perfect and improve my work. In the same way, i can adapt to almost any new tech that is needed thanks to my always growing eager to learn new things constantly. I am responsible, 
					formal and hardworking, I use to be very demaning with myself and my work. I also love to be working in my projects and abilites all the time, so i can expand myself and my knowledges!</p>
				</div>
			</Fade>
		</section>
		<section id="exp" class="text-white mt-24">
			<Fade direction="left" delay={400} duration={1000} cascade className="flex justify-center pt-6" triggerOnce client:load>
				<h1 class="font-unisonBoldIthalic text-5xl mb-6">Personal <span class="bg-gradient-to-r from-pink-800 to-yellow-500 bg-clip-text text-transparent">Projects</span></h1>
			</Fade>
			<Timeline client:load/>
		</section>
		<section class="flex items-center flex-col justify-center mt-20">
			<h1 class="text-3xl font-unisonBold">My <span class="bg-gradient-to-r from-pink-800 to-yellow-500 bg-clip-text text-transparent">stacks</span></h1>
			<ul class="flex flex-wrap mt-16 bg-gray-900 p-6 rounded-2xl">
				<li class="p-4 rounded-full group text-center">
					<div class="bg-transparent group-hover:bg-[#F0DB4F] rounded-full transition-colors z-0 p-6">
						<img src="/js.svg" alt="JavaScript" class="w-16 h-16 z-10">
					</div>
					<span class=" bg-transparent text-white font-bold opacity-0 group-hover:opacity-100 transition-opacity z-10">
					  Javascript
					</span>
				</li>
				<li class="p-4 rounded-full group text-center">
					<div class="bg-transparent group-hover:bg-[#007acc] rounded-full transition-colors z-0 p-6">
						<img src="/ts.svg" alt="TypeScript" class="w-16 h-16 z-10">
					</div>
					<span class=" bg-transparent text-white font-bold opacity-0 group-hover:opacity-100 transition-opacity z-10">
					  Typescript
					</span>
				</li>
				<li class="p-4 rounded-full group text-center">
					<div class="bg-transparent group-hover:bg-[#53C1DE] rounded-full transition-colors z-0 p-6">
						<img src="/react.svg" alt="React" class="w-16 h-16 z-10">
					</div>
					<span class="bg-transparent text-white font-bold opacity-0 group-hover:opacity-100 transition-opacity z-10">
					  React
					</span>
				</li>
				<li class="p-4 rounded-full group text-center">
					<div class="bg-transparent group-hover:bg-[#38BDF8] rounded-full transition-colors z-0 p-6">
						<img src="/tailwind.svg" alt="Tailwind" class="w-16 h-16 z-10">
					</div>
					<span class=" bg-transparent text-white font-bold opacity-0 group-hover:opacity-100 transition-opacity z-10">
					  Tailwind
					</span>
				</li>
				<li class="p-4 rounded-full group text-center">
					<div class="bg-transparent group-hover:bg-gradient-to-b from-[#EE46E0] to-[#DA3333] rounded-full transition-colors z-0 p-6">
						<img src="/Astro.png" alt="Astro" class="w-16 h-16 z-10">
					</div>
					<span class=" bg-transparent text-white font-bold opacity-0 group-hover:opacity-100 transition-opacity z-10">
					  Astro
					</span>
				</li>
				<li class="p-4 rounded-full group text-center">
					<div class="bg-transparent group-hover:bg-[white] rounded-full transition-colors z-0 p-6">
						<img src="/next.svg" alt="Nextjs" class="w-16 h-16 z-10">
					</div>
					<span class=" bg-transparent text-white font-bold opacity-0 group-hover:opacity-100 transition-opacity z-10">
					  Nextjs
					</span>
				</li>
				<li class="p-4 rounded-full group text-center">
					<div class="bg-transparent group-hover:bg-[#E23237] rounded-full transition-colors z-0 p-6">
						<img src="/angular.png" alt="Angular" class="w-16 h-16 z-10">
					</div>
					<span class=" bg-transparent text-white font-bold opacity-0 group-hover:opacity-100 transition-opacity z-10">
					  Angular
					</span>
				</li>
				<li class="p-4 rounded-full group text-center">
					<div class="bg-transparent group-hover:bg-[#E0234E] rounded-full transition-colors z-0 p-6">
						<img src="/nest.png" alt="Nestjs" class="w-16 h-16 z-10">
					</div>
					<span class=" bg-transparent text-white font-bold opacity-0 group-hover:opacity-100 transition-opacity z-10">
					  Nestjs
					</span>
				</li>
				<li class="p-4 rounded-full group text-center">
					<div class="bg-transparent group-hover:bg-[#00688F] rounded-full transition-colors z-0 p-6">
						<img src="/mysql.svg" alt="MySQL" class="w-16 h-16 z-10">
					</div>
					<span class=" bg-transparent text-white font-bold opacity-0 group-hover:opacity-100 transition-opacity z-10">
					  MySQL
					</span>
				</li>
				<li class="p-4 rounded-full group text-center">
					<div class="bg-transparent group-hover:bg-[#F5FFFF] rounded-full transition-colors z-0 p-6">
						<img src="/sql-server.png" alt="SQLServer" class="w-16 h-16 z-10">
					</div>
					<span class="bg-transparent text-white font-bold opacity-0 group-hover:opacity-100 transition-opacity z-10">
					  SQLServer
					</span>
				</li>
				<li class="p-4 rounded-full group text-center">
					<div class="bg-transparent group-hover:bg-[#684D95] rounded-full transition-colors z-0 p-6">
						<img src="/csharp.svg" alt="C#" class="w-16 h-16 z-10">
					</div>
					<span class="bg-transparent text-white font-bold opacity-0 group-hover:opacity-100 transition-opacity z-10">
					  C#
					</span>
				</li>
			</ul>
		</section>
	</main>
</Layout>

<style>
.projects-section{
  height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.projects-container, .about-container{
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}
.about-container{
  padding: 0;
}
.projects-container::-webkit-scrollbar, .about-container::-webkit-scrollbar {
  width: 13px;
}

.projects-container::-webkit-scrollbar-track, .about-container::-webkit-scrollbar-track {
  background: none;
}

.projects-container::-webkit-scrollbar-thumb, .about-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  cursor: pointer;
}

.projects-container::-webkit-scrollbar-thumb:hover, .about-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>