---
import Layout from '../layouts/Layout.astro';
import {TypeAnimation} from "react-type-animation"
import Timeline from '../components/Timeline'
import {UserFocus, GraduationCap, TerminalWindow, GithubLogo, Envelope, LinkedinLogo} from "@phosphor-icons/react"
import {Fade, Slide} from "react-awesome-reveal"
---

<Layout title="Another curly crazy dev">
	<main class="text-white p-20 max-[735px]:p-10 max-[400px]:px-4">
		<section class="text-3xl mt-8 p-20 max-[705px]:pt-0 max-[705px]:pb-5 max-[705px]:mt-0 pb-40 max-[572px]:pt-0 max-[573px]:px-0">
			<Fade duration={1000} triggerOnce client:load>
				<h1 class="text-8xl mt-8 font-unisonBold max-[350px]:text-7xl">Hi,</h1> 
				<h1 class="text-7xl max-[350px]:text-6xl font-unisonBold mb-7">I am <span class="bg-gradient-to-r from-pink-800 to-yellow-500 bg-clip-text text-transparent">Taiel!</span></h1>
				<TypeAnimation sequence={["FullStack Developer",1000,"Freelancer",1000,"Gamer",1000,"Student",1000]} wrapper="span" repeat={3} style={{display:'inline-block',fontFamily:'Unison Pro Bold Italic',color:'white',}} client:load/>
				<div class="text-wrap w-2/3">
					<p class="mt-10 text-2xl mb-10">Fullstack Developer from Argentina with more than 2 years of solid
					experience on Web Development and Fullstack Applications.</p>
				</div>
				<div class="flex flex-row gap-4">
					<a href="https://github.com/TaiFilipelli" target="_blank" class="bg-gray-700 p-4 rounded-3xl hover:bg-gray-400 hover:scale-125 transition-all"><GithubLogo size={50}/></a>
					<a href="mailto:taielfilipelli@gmail.com?subject=Consulta%20de%20Portfolio" target="_blank" class="bg-gray-700 p-4 rounded-3xl hover:bg-gray-400 hover:scale-125 transition-all"><Envelope size={50}/></a>
					<a href="https://www.linkedin.com/in/taiel-filipelli/" target="_blank" class="bg-gray-700 p-4 rounded-3xl hover:bg-gray-400 hover:scale-125 transition-all"><LinkedinLogo size={50}/></a>
				</div>
			</Fade>
		</section>
		<section id="exp" class="text-white mt-10 flex flex-col items-center">
			<Fade direction="left" duration={700} cascade className="pt-6" triggerOnce client:load>
				<h1 class="font-unisonBoldIthalic text-5xl mb-6 max-[430px]:text-4xl">My <span class="bg-gradient-to-r from-pink-800 to-yellow-500 bg-clip-text text-transparent">Experiences</span></h1>
				<Fade delay={100} duration={700} className='gap-4' client:load>
					<div class="bg-gray-700 flex flex-col p-6 rounded-2xl gap-1 w-1/3">
						<h1 class="font-bold text-xl">Microsoft Excel class teacher</h1>
						<h3 class="font-thin text-base">May 2022- June 2024</h3>
						<p class="font-medium text-lg text-wrap">I taught Excel training classes in the municipality of my city. The training courses included a month of weekly in-person classes with activities
							and final evaluations included to certify the course. I was able to improve my oratory, my public speaking skills and my knowledge of the software in question. </p>
					</div>
				</Fade>
			</Fade>
		</section>
		<section id="project" class="text-white mt-10">
			<Fade direction="left" duration={700} cascade className="flex justify-center pt-6" triggerOnce client:load>
				<h1 class="font-unisonBoldIthalic text-5xl mb-6 max-[430px]:text-4xl">Personal <span class="bg-gradient-to-r from-pink-800 to-yellow-500 bg-clip-text text-transparent">Projects</span></h1>
			</Fade>
			<Timeline client:load/>
		</section>
		<section class="flex items-center flex-col justify-center my-20">
			<h1 class="text-4xl font-unisonBold">My <span class="bg-gradient-to-r from-pink-800 to-yellow-500 bg-clip-text text-transparent">stacks</span></h1>
			<ul class="flex flex-wrap mt-16 bg-gray-800 p-6 max-[439px]:p-3 rounded-2xl max-[343px]:p-0">
				<li class="p-4 rounded-full group text-center">
					<div class="bg-transparent group-hover:bg-[#F0DB4F] rounded-full transition-colors z-0 p-6">
						<img src="/js.svg" alt="JavaScript" class="w-16 h-16 z-10">
					</div>
					<span class=" bg-transparent text-white font-bold opacity-0 group-hover:opacity-100 transition-opacity z-10">
					  Javascript
					</span>
				</li>
				<li class="p-4 rounded-full group text-center">
					<div class="bg-transparent group-hover:bg-[#007acc] rounded-full transition-colors z-0 p-6">
						<img src="/ts.svg" alt="TypeScript" class="w-16 h-16 z-10">
					</div>
					<span class=" bg-transparent text-white font-bold opacity-0 group-hover:opacity-100 transition-opacity z-10">
					  Typescript
					</span>
				</li>
				<li class="p-4 rounded-full group text-center">
					<div class="bg-transparent group-hover:bg-[#53C1DE] rounded-full transition-colors z-0 p-6">
						<img src="/react.svg" alt="React" class="w-16 h-16 z-10">
					</div>
					<span class="bg-transparent text-white font-bold opacity-0 group-hover:opacity-100 transition-opacity z-10">
					  React
					</span>
				</li>
				<li class="p-4 rounded-full group text-center">
					<div class="bg-transparent group-hover:bg-[#38BDF8] rounded-full transition-colors z-0 p-6">
						<img src="/tailwind.svg" alt="Tailwind" class="w-16 h-16 z-10">
					</div>
					<span class=" bg-transparent text-white font-bold opacity-0 group-hover:opacity-100 transition-opacity z-10">
					  Tailwind
					</span>
				</li>
				<li class="p-4 rounded-full group text-center">
					<div class="bg-transparent group-hover:bg-gradient-to-b from-[#EE46E0] to-[#DA3333] rounded-full transition-colors z-0 p-6">
						<img src="/Astro.png" alt="Astro" class="w-16 h-16 z-10">
					</div>
					<span class=" bg-transparent text-white font-bold opacity-0 group-hover:opacity-100 transition-opacity z-10">
					  Astro
					</span>
				</li>
				<li class="p-4 rounded-full group text-center">
					<div class="bg-transparent group-hover:bg-[white] rounded-full transition-colors z-0 p-6">
						<img src="/next.svg" alt="Nextjs" class="w-16 h-16 z-10">
					</div>
					<span class=" bg-transparent text-white font-bold opacity-0 group-hover:opacity-100 transition-opacity z-10">
					  Nextjs
					</span>
				</li>
				<li class="p-4 rounded-full group text-center">
					<div class="bg-transparent group-hover:bg-[#E23237] rounded-full transition-colors z-0 p-6">
						<img src="/angular.png" alt="Angular" class="w-16 h-16 z-10">
					</div>
					<span class=" bg-transparent text-white font-bold opacity-0 group-hover:opacity-100 transition-opacity z-10">
					  Angular
					</span>
				</li>
				<li class="p-4 rounded-full group text-center">
					<div class="bg-transparent group-hover:bg-[#E0234E] rounded-full transition-colors z-0 p-6">
						<img src="/nest.png" alt="Nestjs" class="w-16 h-16 z-10">
					</div>
					<span class=" bg-transparent text-white font-bold opacity-0 group-hover:opacity-100 transition-opacity z-10">
					  Nestjs
					</span>
				</li>
				<li class="p-4 rounded-full group text-center">
					<div class="bg-transparent group-hover:bg-[#00688F] rounded-full transition-colors z-0 p-6">
						<img src="/mysql.svg" alt="MySQL" class="w-16 h-16 z-10">
					</div>
					<span class=" bg-transparent text-white font-bold opacity-0 group-hover:opacity-100 transition-opacity z-10">
					  MySQL
					</span>
				</li>
				<li class="p-4 rounded-full group text-center">
					<div class="bg-transparent group-hover:bg-[#F5FFFF] rounded-full transition-colors z-0 p-6">
						<img src="/sql-server.png" alt="SQLServer" class="w-16 h-16 z-10">
					</div>
					<span class="bg-transparent text-white font-bold opacity-0 group-hover:opacity-100 transition-opacity z-10">
					  SQLServer
					</span>
				</li>
				<li class="p-4 rounded-full group text-center">
					<div class="bg-transparent group-hover:bg-[#684D95] rounded-full transition-colors z-0 p-6">
						<img src="/csharp.svg" alt="C#" class="w-16 h-16 z-10">
					</div>
					<span class="bg-transparent text-white font-bold opacity-0 group-hover:opacity-100 transition-opacity z-10">
					  C#
					</span>
				</li>
			</ul>
		</section>
		<section class="mt-14 pb-14" id="about" >
			<Slide direction="left" duration={500} triggerOnce client:load>
				<h1 class="text-5xl font-unisonBoldIthalic mb-11">About <span class="bg-gradient-to-r from-pink-800 to-yellow-500 bg-clip-text text-transparent">Me</span></h1>
			</Slide>
			<Fade className="about-container flex flex-col gap-3" delay={400} duration={1000} triggerOnce cascade client:load>
				<div class="bg-black p-5 rounded-2xl">
					<div class='flex justify-between'>
					  <h1 class='font-unisonBold text-3xl mb-6 max-[430px]:text-2xl'>Personal</h1>
					  <UserFocus size={40}/> 
					</div>
					<p class='text-xl pb-4'>Born in February 2004 in San Nicolas de los Arroyos, Argentina, my passion for programming and computing ignited during the 2020 pandemic. 
						Through online resources, a month of intensive learning covered computer structure, functioning, algorithms, and programming principles. 
						Four months after high school graduation in 2022, my enrollment in the University Degree on Programming at Facultad Regional San Nicolas began. 
						As of July 2024, my academic studies have concluded, with only the final project remaining to secure the degree.
					</p>
				</div>
				<div class="bg-black p-5 rounded-2xl">
					<div class='flex justify-between mb-6'>
					  <h1 class='font-unisonBold text-3xl max-[430px]:text-2xl'>Education</h1>
					  <GraduationCap size={35}/> 
					</div>
					<p class='text-xl pb-4'>I studied on the Club Belgrano High School (2016-2021). The degree followed right next to it, since 2022 to 2024. Even tho, most of my knowledges are 
					from extracurricular courses thanks to online content and study constancy. Even today, i am still learning new technologies and new ways to do stuff. Some of my current courses are unrelated to
					web design: OpenCV on Python, Machine Learning algorythms and ethical hacking to improve cybersecurity knowledge.</p>
				</div>
				<div class="bg-black rounded-2xl p-5">
					<div class='flex justify-between mb-6'>
					  <h1 class='font-unisonBold text-3xl max-[430px]:text-2xl'>Atributtes</h1>
					  <TerminalWindow size={35}/> 
					</div>
					<p class='text-xl pb-4'>I am an active person, with ease in teamwork and great social skills who pays attention to details and always seek to improve work efficiency. 
						I easily adapt to new technologies thanks to my constant desire to learn, with a responsible, formal and hard-working mentality, demanding myself in each task. Besides,
						I enjoy developing projects and skills to expand my knowledge.</p>
				</div>
			</Fade>
		</section>
	</main>
</Layout>

<style>

.about-container{
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}
.about-container{
  padding: 0;
}