---
import {GithubLogo, InstagramLogo, LinkedinLogo, Envelope} from '@phosphor-icons/react'
---
<footer class="bg-gray-700 w-auto p-16 flex flex-col text-black text-center">
    <p class="text-black text-lg font-bold">If you want to directly communicate with me, you can always mail me!</p>
    <div class="flex flex-row items-center justify-center mb-8">
        <Envelope size={50}/>
        <p class="my-4 text-lg font-semibold">taielfilipelli@gmail.com</p>
    </div>
    <p class="text-lg font-extralight">Copyright ©2024 - All rights reserved by Filipelli Taiel</p>
</footer>