---
import {InstagramLogo} from '@phosphor-icons/react'
---
<footer class="bg-gray-700 w-auto p-16 flex flex-col text-black text-center">
    <p class="text-black text-lg font-bold">Thank you for seeing my work. Other ways to contact me:</p>
    <a href="https://www.instagram.com/tai_filipelli_/" class="flex items-center justify-center mb-6 mt-4">
        <InstagramLogo size={40}/>
        Instagram
    </a>
    <p class="text-lg font-extralight">Copyright ©2024 - All rights reserved by Filipelli Taiel</p>
</footer>