---

---
<nav class='w-full bg-transparent h-24 flex flex-row justify-center max-[733px]:w-3/4 max-[571px]:flex-col max-[500px]:p-0'>
    <div class='container flex justify-between items-center max-[731px]:gap-4 max-[571px]:flex-col max-[571px]:w-[90vw] max-[500px]:pl-8'>
        <div class="flex flex-row items-center gap-4">
            <img src="/codigo.png" alt="Development Logo" class="invert brightness-0 w-12">
            <a href="/" class="font-unisonBold text-lg cursor:pointer text-white">Filipelli</a>
        </div>
        <div class="flex justify-evenly text-white text-lg font-unisonLight w-1/3 max-[500px]:w-full">
            <a href="#about" class="hover:underline hover:text-slate-400 transition-all">About Me</a>
            <a href="#exp" class="hover:underline hover:text-slate-400 transition-all">Experience</a>
        </div>
    </div>
</nav>
