@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Unison Pro Bold';
  src: url('./assets/fonts/UnisonProBold.otf');
}
@font-face {
  font-family: 'Unison Pro Bold Italic';
  src: url('./assets/fonts/UnisonProBoldItalic.otf');
}
@font-face {
  font-family: 'Unison Pro Light';
  src: url('./assets/fonts/UnisonProLight.otf');
}
@font-face {
  font-family: 'Unison Pro Light Italic';
  src: url('./assets/fonts/UnisonProLightItalic.otf');
}
@font-face {
  font-family: 'Unison Pro Light Round';
  src: url('./assets/fonts/UnisonProLightRound.otf');
}
:root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.projects-section{
  height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.projects-container, .about-container{
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}
.about-container{
  padding: 0;
}
.projects-container::-webkit-scrollbar, .about-container::-webkit-scrollbar {
  width: 13px;
}

.projects-container::-webkit-scrollbar-track, .about-container::-webkit-scrollbar-track {
  background: none;
}

.projects-container::-webkit-scrollbar-thumb, .about-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  cursor: pointer;
}

.projects-container::-webkit-scrollbar-thumb:hover, .about-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}